/* *CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main{
    height: 90%;
    width: 90%;
}

.circle {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    /* position: relative; */
}

.circle1{
    bottom: 10%;
    left: 10%;
}
.circle2{
    bottom: 10%;
    right: 10%;
}
.circle3{
    bottom: 20%;
    left: 20%;
}
.circle4{
    bottom: 20%;
    right: 20%;
}

.circle5{
    bottom: 30%;
    left: 30%;
}

.circle6{
    bottom: 30%;
    right: 30%;
}

.circle7{
    bottom: 40%;
    left: 40%;
}

.circle8{
    bottom: 40%;
    right: 40%;
}

.circle9{
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}